@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Play:700&display=swap&subset=cyrillic-ext");

$fontfamily: Roboto;
$minwidth: 320px;
$maxwidth: 1400px;
$mw: 1180;
$md1: $mw + 12;
$md2: 979;
// $md2: 767.98;
$md3: 768;
$md4: 320;

$oc: #f68038;
$bc: #1ab9ce;

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "null.scss";
@import "forms.scss";

body {
  &._lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      // position: fixed;
    }
  }
}
.wrapper {
  position: relative;
  &.loaded {
  }
}
._container {
  max-width: $mw + px;
  margin: 0 auto;
  // width: 100%;
  // @media (max-width: $md1+px) {
  //   $mw: 979;
  //   max-width: $mw + px;
  // }
  // @media (max-width: $md2+px) {
  //   $mw: 748;
  //   max-width: $mw + px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
  padding: 0px 20px;
  @media (max-width: $md3+px) {
    padding: 0px 10px;
  }
}

@import "header.scss";

// Основной блок
.page {
  padding: 160px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 133px 0px 0px 0px;
  }
  @media (max-width: 640px) {
    padding: 83px 0px 0px 0px;
  }

  // .page__container
  &__container {
    margin-bottom: 20px;
    @media (min-width: $md2+px) {
      @include flexbox();
      align-items: stretch;
    }
  }

  // .page__side
  &__side {
    @media (min-width: $md2+px) {
      flex: 0 0 260px;
      max-width: 260px;
    }
    position: relative;
    z-index: 7;
  }

  // .page__menu
  &__menu {
    margin: 0px 0px 20px 0px;
  }

  // .page__side-news
  &__side-news {
    margin: 0px 0px 30px 0px;
  }

  // .page__side-reviews
  &__side-reviews {
    margin: 0px 0px 30px 0px;
  }

  // .page__content
  &__content {
    @media (min-width: $md2+px) {
      flex: 1 1 auto;
      min-width: 0;
      padding: 0px 0px 0px 30px;
      @include flexbox();
      flex-direction: column;
    }
    @media (max-width: $md2+px) {
      margin: 0 0 30px 0;
    }
  }

  // .page__search
  &__search {
    margin: 0px 0px 22px 0px;
  }

  // .page__slider
  &__slider {
    margin: 0px 0px 65px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 25px 0px;
    }
  }

  // .page__products
  &__products {
  }

  // .page__brands
  &__brands {
    margin: 0px 0px 32px 0px;
  }

  // .page__text
  &__text {
    margin: 0px 0px 38px 0px;
  }

  // .page__info-menu
  &__info-menu {
    margin: 0px 0px 38px 0px;
  }
}
.breadcrumbs {
  margin: 0px 0px 20px 0px;
  height: 20px;
  overflow: auto;
  // .breadcrumbs__list
  &__list {
    @include flexbox();
    align-items: center;
    white-space: nowrap;
    li {
      font-size: 14px;
      font-weight: 300;
      padding: 0px 25px 0px 0px;
      margin: 0px 15px 0px 0px;
      background: url("../img/arrrb.png") right center / 10px no-repeat;
      &:last-child {
        margin: 0px 0px 0px 0px;
        background: none !important;
      }
    }
  }

  // .breadcrumbs__link
  &__link {
    color: $bc;
    text-decoration: underline;
  }

  // .breadcrumbs__item
  &__item {
    color: #999999;
  }
}
.search-page {
  @include flexbox();
  position: relative;
  z-index: 3;
  // .search-page__select
  &__select {
    background-color: #f3f3f3;
    @media (max-width: $md3+px) {
      display: none;
    }
  }

  // .search-page__title
  &__title {
    padding: 0px 14px;
    cursor: pointer;
    @include flexbox();
    align-items: center;
    height: 100%;
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    span {
      margin: 0px 13px;
      border-bottom: 1px dashed;
      &:last-child {
        display: none;
      }
    }
    &:before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/lupa.png") 0 0 no-repeat;
    }
    &:after {
      content: "";
      @include anim(0.5s, 0s);
      width: 10px;
      height: 10px;
      background: url("../img/down_arr.png") 0 0 no-repeat;
    }
    &._categories {
      span {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
    &._active {
      &::after {
        @include rotate(-180deg);
      }
    }
  }

  // .search-page__categories
  &__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  // .search-page__input
  &__input {
    flex: 1 1 auto;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    @media (max-width: $md3+px) {
      border-left: 2px solid #f2f2f2;
    }
    input {
      border: none;
      height: 100%;
      font-size: 14px;
      color: black !important;
    }
  }

  // .search-page__btn
  &__btn {
  }
}
.categories-search {
  display: none;
  background-color: white;
  border: 1px solid #f3f3f3;
  &:after {
    content: "";
    background-color: $oc;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // .categories-search__row
  &__row {
    @media (min-width: $md3+px) {
      @include flexbox();
      padding: 0px 0px;
    }
    padding: 20px 0px;
  }

  // .categories-search__column
  &__column {
    flex: 0 1 (100% / 3);
    padding: 27px 40px;
    border-right: 1px solid #f3f3f3;
    &:last-child {
      border: 0;
    }
    @media (max-width: $md1+px) {
      padding: 27px 20px;
    }
    @media (max-width: $md3+px) {
      padding: 0px 20px;
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  // .categories-search__list
  &__list {
    li {
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  // .categories-search__checkbox
  &__checkbox {
    .checkbox__input {
      &:checked + .checkbox__text {
        color: $oc;
      }
    }
    .checkbox__text {
      color: #999999;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px;
      &::before {
        display: none;
      }
    }
  }
}

.menu-page {
  background: url("../img/nav_bg.jpg") 0 center/cover;
  position: relative;
  z-index: 2;

  // .menu-page__header
  &__header {
    padding: 15px 21px;
    @include flexbox();
    align-items: center;
  }

  // .menu-page__title
  &__title {
    flex: 1 1 auto;
    color: #ffffff;
    font-family: "ush";
    font-size: 30px;
    line-height: (36 / 30);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  // .menu-page__burger
  &__burger {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #068292;
    padding: 10px 6px;
    cursor: pointer;
    &._active {
      span {
        @include scale(0);
        &:first-child {
          @include rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          @include rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }

  &__lines {
    position: relative;
    height: 100%;
    span {
      @include anim(0.3s, 0s);
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
  }

  // .menu-page__body
  &__body {
    display: none;
  }

  // .menu-page__list
  &__list {
    padding: 0px 0px 6px 0;
    > li {
      border-bottom: 1px solid #1aa7b9;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__parent {
    .menu-page__link {
      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        width: 14px;
        height: 14px;
        transform: translate(0, -50%);
        background: url("../img/right_arr.png") 0 0 no-repeat;
        @media (max-width: $md2+px) {
          transform: translate(0, -50%) rotate(90deg);
          @include anim(0.3s, 0s);
        }
      }
    }
    &._active {
      .menu-page__submenu {
        pointer-events: all;
      }
      .submenu-page__item {
        // display: block;
        @media (min-width: $md2+px) {
          @include tr(0, 0, 0);
          z-index: 2;
        }
      }
      .menu-page__link {
        background-color: $bc;
        @media (max-width: $md2+px) {
          &::after {
            transform: translate(0, -50%) rotate(-90deg);
          }
        }
      }
    }
  }

  // .menu-page__link
  &__link {
    display: block;
    padding: 15px 0px 15px 22px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    position: relative;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: $bc;
      }
    }
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
  }

  // .menu-page__submenu
  &__submenu {
    @media (min-width: $md2+px) {
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
    }
  }
}

.submenu-page {
  @media (max-width: $md2+px) {
    background-color: white;
    width: 100%;
  }
  width: 280px;
  // .submenu-page__item
  &__item {
    display: none;
    @media (min-width: $md2+px) {
      display: block;
      background-color: white;
      border: 2px solid #098494;
      text-align: left;
      position: absolute;
      left: 0;
      @include tr(-108%, 0, 0);
      top: 0;
      height: 100%;
      width: 100%;
      @include anim(0.4s, 0s);
    }
  }

  // .submenu-page__menu
  &__menu {
    padding: 20px 0px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      @include tr(-50%, 0, 0);
      bottom: 0;
      width: 99%;
      height: 1px;
      background-color: #dedede;
    }
  }

  // .submenu-page__link
  &__link {
    display: block;
    padding: 0px 40px;
    color: $bc;
    font-size: 12px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.3px;
    @media (min-width: $md2+px) {
      &:hover {
        color: #ffffff;
        background-color: #71c7d3;
      }
    }
    @media (max-width: $md2+px) {
      font-size: 14px;
      padding: 0px 20px;
    }
  }

  // .submenu-page__product
  &__product {
    .item-product {
      border: none;
      &__image {
        height: 195px;
        img {
          max-height: 175px;
        }
      }
    }
    @media (max-width: $md2+px) {
      display: none;
    }
  }
}
.items-products {
  @include flexbox();
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px -15px;
  // .items-products__column
  &__column {
    flex: 0 1 (100% / 3);
    max-width: (100% / 3);
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    @media (max-width: $md1+px) and (min-width: $md2+px) {
      flex: 0 1 (100% / 2);
      max-width: (100% / 2);
    }
    @media (max-width: 800px) {
      flex: 0 1 (100% / 2);
      max-width: (100% / 2);
    }
    @media (max-width: 600px) {
      flex: 0 1 (100% / 1);
      max-width: (100% / 1);
    }
  }
}
.item-product {
  @include flexbox();
  flex-direction: column;
  height: 100%;
  padding: 10px 25px 15px;
  position: relative;
  border: 1px solid #f5f5f5;
  overflow: hidden;

  // .item-product__labels
  &__labels {
    position: absolute;
    top: 10px;
    left: 15px;
  }

  // .item-product__label
  &__label {
    margin: 0px 0px 0px 13px;
    border-radius: 20px;
    overflow: hidden;
    padding: 6px 14px 3px;
    display: inline-block;
    background-color: #fd8424;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    // line-height: 24px;
    text-transform: uppercase;
  }

  // .item-product__image
  &__image {
    height: 255px;
    @include flexbox();
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    img {
      max-width: 100%;
      max-height: 235px;
    }
  }

  &__body {
    margin: 0px 0px 0px 15px;
    flex: 1 1 auto;
    @include flexbox();
    flex-direction: column;
  }

  // .item-product__description
  &__description {
    flex: 1 1 auto;
    display: block;
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    @include anim(0.3s, 0s);
    span {
      display: block;
      font-weight: 900;
    }
  }

  // .item-product__name
  &__name {
    @extend .item-product__description;
  }

  // .item-product__footer
  &__footer {
    padding: 15px 0px 0px 0px;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include anim(0.3s, 0s);
  }

  // .item-product__old-price
  &__old-price {
    flex: 1 0 100%;
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
    text-align: right;
    &::after {
      font-size: 14px;
    }
  }

  // .item-product__bottom
  &__bottom {
  }

  // .item-product__add
  &__add {
  }

  // .item-product__price
  &__price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;
    &::after {
      font-size: 19px;
    }
  }

  // .item-product__hover
  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include anim(0.3s, 0s);
    @include tr(-101%, 0, 0);
  }

  @media (min-width: $md2+px) {
    &:hover {
      .item-product__hover {
        @include tr(0, 0, 0);
      }
      .item-product__description,
      .item-product__footer {
        opacity: 0;
      }
    }
  }
}

.hover-item-product {
  border: 5px solid $oc;
  background-color: rgba(0, 0, 0, 0.84);
  padding: 15px 20px 18px 15px;
  @include flexbox();
  flex-direction: column;
  color: white;
  // .hover-item-product__title
  &__title {
    span {
      display: block;
      color: white;
      font-weight: 900;
      margin: 0px 0px 5px 0px;
    }
    font-size: 16px;
    color: #c2c2c2;
    font-weight: 300;
    margin: 0px 0px 25px 0px;
  }

  // .hover-item-product__options
  &__options {
  }

  // .hover-item-product__cart
  &__cart {
    flex: 1 1 auto;
    background: url("../img/big_cart_o.png") center no-repeat;
    min-width: 67px;
    min-height: 67px;
    &--catalog {
      min-width: 57px;
      min-height: 57px;
      flex: 0 0 57px;
      margin: -30px 0px 0px 0px;
    }
  }

  // .hover-item-product__body
  &__body {
    flex: 1 1 auto;
    padding: 15px 0px 0px 0px;
  }

  // .hover-item-product__compare
  &__compare {
    display: inline-block;
    background: url("../img/cp_w.png") 6px 0px no-repeat;
    padding: 0px 0px 0px 37px;
    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      border-bottom: 1px dashed;
    }
  }

  // .hover-item-product__footer
  &__footer {
    padding: 15px 0px 0px 0px;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .hover-item-product__old-price
  &__old-price {
    @extend .item-product__old-price;
    margin: 0px 0px 8px 0px;
  }

  // .hover-item-product__stock
  &__stock {
    @include flexbox();
    justify-content: center;
    align-items: center;
    height: 21px;
    padding: 0px 10px 3px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    color: $oc;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
  }

  // .hover-item-product__price
  &__price {
    @extend .item-product__price;
    color: white;
    &::after {
      margin: 0px 0px 0px -3px !important;
    }
  }
}
.options-item-product {
  font-size: 14px;
  text-align: left;
  // .options-item-product__item
  &__item {
    margin: 0px 0px 8px 0px;
  }

  // .options-item-product__label
  &__label {
    line-height: 24px;
  }

  // .options-item-product__value
  &__value {
    color: $oc;
    font-weight: 900;
    line-height: 18px;
  }
}
// =============================================================
.side-title {
  color: #dadada;
  font-family: "ush";
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  @media (min-width: $md2+px) {
    &:hover {
      color: $bc;
    }
  }
}
.news-side {
  // .news-side__title
  &__title {
    display: inline-block;
    margin: 0px 0px 26px/30px * 1em 0px;
  }

  // .news-side__items
  &__items {
  }

  // .news-side__item
  &__item {
    margin: 0px 0px 45px 0px;
  }

  // .news-side__issue
  &__issue {
    color: #333333;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 0px 18px/12px * 1em 0px;
    display: inline-block;
    @media (min-width: $md2+px) {
      &:hover {
        color: $oc;
      }
    }
  }

  // .news-side__body
  &__body {
    @include flexbox();
  }

  // .news-side__date
  &__date {
    color: #d8d8d8;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    span {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      display: block;
    }
    margin: 0px 17px 0px 0px;
  }

  // .news-side__text
  &__text {
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    padding: 0px 13px 0px 0px;
  }
}
.reviews-side {
  // .reviews-side__title
  &__title {
    display: inline-block;
    margin: 0px 0px 22px/30px * 1em 0px;
  }

  // .reviews-side__items
  &__items {
  }

  // .reviews-side__item
  &__item {
    display: block;
    margin: 0px 0px 20px 0px;
    @media (min-width: $md2+px) {
      &:hover {
        .reviews-side__user,
        .reviews-side__date {
          color: $bc;
        }
        .reviews-side__body {
          background-color: $bc;
          color: #ffffff;
          &:before {
            color: #64deee;
          }
        }
      }
    }
  }

  // .reviews-side__header
  &__header {
    @include flexbox();
    justify-content: space-between;
  }

  // .reviews-side__user
  &__user {
    @extend .news-side__issue;
    @media (min-width: $md2+px) {
      &:hover {
        color: #333333;
      }
    }
  }

  // .reviews-side__date
  &__date {
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    // line-height: 18px;
    text-align: left;
    text-transform: uppercase;
  }

  // .reviews-side__body
  &__body {
    @extend .news-side__text;
    padding: 8px 10px 12px 35px;
    position: relative;
    &:before {
      content: "”";
      position: absolute;
      left: 8px;
      top: 8px;
      color: #dadada;
      font-size: 48px;
      font-weight: 900;
      line-height: 1;
      text-align: left;
      text-transform: uppercase;
    }
  }
}
// =============================================================
@import "home.scss";
// =============================================================
.text-block {
  // .text-block__container
  &__container {
    @media (max-width: $md2+px) {
      padding: 0;
    }
    @media (max-width: $md3+px) {
      padding: 0;
    }
  }

  // .text-block__body
  &__body {
    background: url("../img/tbg.jpg") 0 0 repeat;
    padding: 45px 37px 30px 17px;
    @media (max-width: $md2+px) {
      padding: 25px 20px 15px;
    }
  }

  // .text-block__title
  &__title {
    color: #22b7ca;
    font-family: "ush";
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin: 0px 0px 30px 0px;
    @media (max-width: $md2+px) {
      margin: 0px 0px 15px 0px;
    }
  }

  // .text-block__row
  &__row {
    @media (min-width: $md2+px) {
      @include flexbox();
      margin: 0px -30px;
    }
  }

  // .text-block__column
  &__column {
    position: relative;
    margin: 0px 0px 30px 0px;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.3px;
    @media (min-width: $md2+px) {
      flex: 0 1 (100% / 2);
      padding: 0px 30px;
    }
    @media (max-width: $md2+px) {
      margin: 0px 0px 20px 0px;
    }
    p {
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
      @media (max-width: $md2+px) {
        margin: 0px 0px 10px 0px;
      }
    }
  }

  // .text-block__label
  &__label {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px;
  }

  // .text-block__list
  &__list {
    li {
      margin: 0px 0px 5px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
      &:before {
        content: "";
        display: inline-block;
        margin: 0px 17px 0px 7px;
        width: 11px;
        height: 12px;
        background: url("../img/rightarrb.png") left 1px no-repeat;
      }
      @media (max-width: $md1+px) {
        br {
          display: none;
        }
      }
    }
  }
  // .text-block__image
  &__image {
    position: absolute;
    right: -90px;
    bottom: -270px;
    @media (max-width: $md1+px) {
      display: none;
    }
  }
}
// =============================================================
.info-menu {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  padding: 25px 0px;
  @media (max-width: 640px) {
    padding: 10px 0px;
  }
  // .info-menu__container
  &__container {
  }

  // .info-menu__body
  &__body {
    display: inline-block;
    @media (max-width: 640px) {
      @include flexbox();
    }
  }

  // .info-menu__line
  &__line {
    @include flexbox();
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #efefef;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
    @media (max-width: 640px) {
      display: block;
      flex: 0 1 (100% / 2);
      border-bottom: 0;
      &:first-child,
      &:last-child {
        padding: 15px 0px;
      }
    }
  }

  // .info-menu__label
  &__label {
    margin: 0px 15px;
    color: #333333;
    font-size: 14px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.35px;
    @media (max-width: 640px) {
      margin: 0px 15px 10px;
    }
  }

  // .info-menu__list
  &__list {
    @media (min-width: 640px) {
      @include flexbox();
      align-items: center;
    }
    li {
      margin: 0px 15px;
      &:last-child {
        margin: 0px 8px 0 15px;
      }
    }
  }

  // .info-menu__link
  &__link {
    color: $bc;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    @media (min-width: $md2+px) {
      &:hover {
        color: #333333;
      }
    }
  }
}
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================

// Конец основного блока
@import "footer.scss";
//
@import "catalog.scss";
@import "product.scss";
@import "checkout.scss";

.rub {
  &:after {
    content: "₽";
    margin: 0px 0px 0px 3px;
  }
}

._ibg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 0 !important;
  width: 100%;
  border: 1px solid #dadada;
  height: 30px;

  display: block;
  &._focus {
  }
  &._error {
    //
    border-color: red;
    //
  }
}
textarea.input {
  resize: none;
  overflow: auto;
  // height: 151px;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: $oc;
  color: white;
  @include anim(0.3s, 0s);
  @media (min-width: $md2+px) {
    &:hover {
      background-color: #b86029;
    }
  }
  &--grey {
    background-color: #e6e6e6;
    color: #666666;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #c7c7c7;
      }
    }
  }
}

//SELECT
.select {
  position: relative;
  &._active {
    .select__item {
      .select__value {
        &:before {
          @include rotate(-180deg);
        }
      }
    }
  }

  // .select__item
  &__item {
    position: relative;
    min-width: 166px;
  }

  // .select__title
  &__title {
    cursor: pointer;
    color: #000;
    // border: 1px solid #d9d9d9;
    background-color: white;
    // border-radius: 4px;
    // @media (max-width: $md2+px) {
    //   font-size: 18px;
    // }
  }

  // .select__value
  &__value {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 14px;
    color: #0097ac;
    height: 30px;
    padding: 0px 15px;
    span {
      height: 1em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &:before {
      content: "";
      display: inline-block;
      @include anim(0.3s, 0s);
      width: 11px;
      height: 7px;
      margin: 0px 0px 0px 5px;
      background: url("../img/select.svg") center / 100% no-repeat;
    }
  }

  // .select__input
  &__input {
    width: 100%;
    border-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    position: relative;
    z-index: 120;
    color: black;
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    // border-radius: 0 0 4px 4px;
    min-width: 100%;
    background-color: white;
    border-top: 0;
    // border: 1px solid #d9d9d9;
    border-top: 0;
    font-size: 14px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    padding: 10px 0px 5px 0px;
    // @media (max-width: $md2+px) {
    // font-size: 18px;
    // }
  }

  // .select_option
  &__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
    white-space: nowrap;
    @media (min-width: $md2+px) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }
  &_show {
    .select__item {
      min-width: 0;
      border: 2px solid #f3f3f3;
    }
    .select__value {
      color: #999999;
      font-size: 16px;
      font-weight: 900;
    }
  }
  &_checkout {
    .select__item {
      border: 1px solid #e5e5e5;
      color: #666666;
      font-weight: 300;
      font-size: 14px;
    }
    .select__value {
      color: #666666;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

//CHECK
.checkbox {
  position: relative;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + .checkbox__text::before {
      background: #fff url("") center no-repeat;
    }
  }

  &__text {
    @include flexboxi();
    align-items: center;
    position: relative;
    font-size: 16px;
    color: black;
    cursor: pointer;
    &:before {
      content: "";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #ffffff;
      border: 1px solid #a7a9ac;
    }
  }

  a {
    color: black;
    text-decoration: underline;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// ._tabs
._tabs {
}

// ._tabs-item
._tabs-item {
  cursor: pointer;
  &._active {
    cursor: default;
  }
}

// ._tabs-block
._tabs-block {
  display: none;
  // ._active
  &._active {
    display: block;
  }
}

// Slick Slider start
.slick-slider {
  position: relative;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    @include flexbox();
    align-items: flex-start;
  }
  .slick-slide {
  }
  .slick-dots {
    // padding: 110px 0 0 0;
    padding: 10px 0 0 0;
    @media (max-width: $md1+px) {
      // padding: 80px 0 0 0;
      padding: 0;
    }
    @media (max-width: $md2+px) {
      // padding: 40px 0 0 0;
    }
    @include flexbox();
    justify-content: center;
    align-items: center;
    li {
      margin: 0 9px;
      button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #222;
        border-radius: 50%;
        background-color: transparent;
        @media (max-width: $md4+px) {
          width: 9px;
          height: 9px;
        }
      }
      &.slick-active {
        button {
          background-color: #222;
        }
      }
    }
  }
}
// Slick Slider end
