@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Play:700&display=swap&subset=cyrillic-ext");

$fontfamily: Roboto;
$minwidth: 320px;
$maxwidth: 1400px;
$mw: 1180;
$md1: $mw + 12;
$md2: 979;
// $md2: 767.98;
$md3: 768;
$md4: 320;

$oc: #f68038;
$bc: #1ab9ce;

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "null.scss";

body {
  &._lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      // position: fixed;
    }
  }
}
.wrapper {
  position: relative;
  &.loaded {
  }
}
._container {
  max-width: $mw + px;
  margin: 0 auto;
  // width: 100%;
  // @media (max-width: $md1+px) {
  //   $mw: 979;
  //   max-width: $mw + px;
  // }
  // @media (max-width: $md2+px) {
  //   $mw: 748;
  //   max-width: $mw + px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
  padding: 0px 20px;
  @media (max-width: $md3+px) {
    padding: 0px 10px;
  }
}

@import "header.scss";

// Основной блок
.page {
  padding: 160px 0px 0px 0px;
  flex: 1 1 auto;

  // .page__container
  &__container {
    @include flexbox();
  }

  // .page__side
  &__side {
    flex: 0 0 260px;
    max-width: 260px;
  }

  // .page__menu
  &__menu {
  }

  // .page__content
  &__content {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
  }
}
.menu-page {
  background: url("../img/tbg.svg") 0 center/cover;
  position: relative;
  // .menu-page__header
  &__header {
    padding: 21px 21px 0px 21px;
    @include flexbox();
    align-items: center;
  }

  // .menu-page__title
  &__title {
    color: #ffffff;
    font-family: "ush";
    font-size: 30px;
    line-height: (36 / 30);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  // .menu-page__burger
  &__burger {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #068292;
    padding: 10px 6px;
  }

  &__lines {
    position: relative;
    height: 100%;
    cursor: pointer;
    span {
      @include anim(0.3s, 0s);
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        @include scale(0);
        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }

  // .menu-page__body
  &__body {
  }

  // .menu-page__list
  &__list {
    padding: 6px 0px;
    li {
      border-bottom: 1px solid #1aa7b9;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  // .menu-page__link
  &__link {
    display: block;
    padding: 15px 0px 15px 22px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    position: relative;
    // .menu-page__link--parent
    &--parent {
      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        width: 14px;
        height: 14px;
        @include tr(0, -50%, 0);
        background: url("../img/right_arr.png") 0 0 no-repeat;
      }
    }
    @media (min-width: $md2+px) {
      &:hover {
        background-color: $bc;
      }
    }
  }

  // .menu-page__submenu
  &__submenu {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 280px;
  }
}

.submenu-page {
  background-color: white;
  border: 2px solid #098494;
  // .submenu-page__item
  &__item {
    text-align: left;
  }

  // .submenu-page__menu
  &__menu {
    padding: 20px 0px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 99%;
      height: 1px;
      background-color: #dedede;
    }
    li {
    }
  }

  // .submenu-page__link
  &__link {
    display: block;
    padding: 0px 40px;
    color: $bc;
    font-size: 12px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.3px;
    @media (min-width: $md2+px) {
      &:hover {
        color: #ffffff;
        background-color: #71c7d3;
      }
    }
  }

  // .submenu-page__product
  &__product {
  }
}
.item-product {
  padding: 10px 25px;
  // .item-product__labels
  &__labels {
  }

  // .item-product__label
  &__label {
    border-radius: 20px;
    overflow: hidden;
    padding: 6px 14px 3px;
    display: inline-block;
    background-color: #fd8424;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    // line-height: 24px;
    text-transform: uppercase;
  }

  // .item-product__image
  &__image {
  }

  // .item-product__description
  &__description {
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  // .item-product__name
  &__name {
    @extend .item-product__description;
  }

  // .item-product__footer
  &__footer {
    margin: 15px 0px 0px 0px;
  }

  // .item-product__old-price
  &__old-price {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: line-through;
    text-align: right;
  }

  // .item-product__bottom
  &__bottom {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
  }

  // .item-product__add
  &__add {
  }

  // .item-product__price
  &__price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;
  }
}
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================

// Конец основного блока
@import "footer.scss";
//

.rub {
  &:after {
    content: "₽";
  }
}

._ibg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 0 !important;
  width: 100%;
  // border: 1px solid #ffffff;
  // height: 48px;

  display: block;
  &:focus {
  }
  &._err {
    //
    border-color: red;
    //
  }
}
textarea.input {
  resize: none;
  overflow: auto;
  // height: 151px;
}
.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 33px;
  font-size: 19px;
  // font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: black;
  color: white !important;
  &--w {
    background-color: white;
    color: black !important;
  }
}

// Slick Slider start
.slick-slider {
  position: relative;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    @include flexbox();
    align-items: flex-start;
  }
  .slick-slide {
  }
  .slick-dots {
    // padding: 110px 0 0 0;
    padding: 10px 0 0 0;
    @media (max-width: $md1+px) {
      // padding: 80px 0 0 0;
      padding: 0;
    }
    @media (max-width: $md2+px) {
      // padding: 40px 0 0 0;
    }
    @include flexbox();
    justify-content: center;
    align-items: center;
    li {
      margin: 0 9px;
      button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #222;
        border-radius: 50%;
        background-color: transparent;
        @media (max-width: $md4+px) {
          width: 9px;
          height: 9px;
        }
      }
      &.slick-active {
        button {
          background-color: #222;
        }
      }
    }
  }
}
// Slick Slider end
